<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.contract.mapper.ContractPurchaseMapper">

    <sql id="column">
        a.id,a.create_by,a.create_time,a.update_by,a.update_time,a.sys_org_code,a.name, a.code,a.type_code,a.first_member,
        a.second_member,a.third_member,a.user_id,a.status,a.remark,a.member_use,a.use_model,a.source_model,a.file_model,
        a.file_contract,a.relate_project,a.project,a.is_sub,a.parent_id,a.budget,a.cost_center,a.is_secret,a.start_time,
        a.end_time,a.purchase_type,a.bidding_id,a.protocol,a.purchase_id,a.amount,a.amount_large,a.file_pdf,a.file_attach,a.act_business
    </sql>

    <select id="pageVo" resultType="org.jeecg.modules.contract.entity.ContractPurchase">
        select<include refid="column"/>,b.name as typeName,e.process_key as process_def,c.realname as userName
        from contract_purchase a
        left join contract_type b on b.code = a.type_code
        left join sys_user c on c.username = a.user_id
        left join act_z_business d on d.id = a.act_business
        left join act_z_process e on e.id = d.proc_def_id
        c
        order by a.create_time desc
    </select>
</mapper>