<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.contract.mapper.ContractPurchaseMapper">

    <sql id="column">
        a.id,a.create_by,a.create_time,a.update_by,a.update_time,a.sys_org_code,a.name,
        a.code,a.type_code,a.first_member,a.second_member,a.third_member,a.user_id,a.status,a.remark,a.member_use
    </sql>

    <select id="pageVo" resultType="org.jeecg.modules.contract.entity.ContractPurchase">
        select<include refid="column"/>,b.name as typeName,b.process_def,c.realname as userName,
        d.name_cn as firstMemberName,e.name_cn as secondMemberName, f.name_cn as thirdMemberName
        from contract_purchase a
        left join contract_type b on b.code = a.type_code
        left join sys_user c on c.username = a.user_id
        left join company d on d.id = a.first_member
        left join company e on e.id = a.second_member
        left join company f on f.id = a.third_member
        <where>
            <if test="query.name !=null and query.name !=''">
                a.name like concat('%',#{query.name},'%')
            </if>
        </where>
    </select>
</mapper>