<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.activiti.mapper.ActNodeMapper">

    <select id="findUserByNodeId" resultType="org.jeecg.common.system.vo.LoginUser">
        select * from sys_user
        where username in (select relate_id from act_z_node where node_id = #{nodeId} and proc_def_id = #{procDefId} and type = 1)
            and del_flag = 0
    </select>
    <select id="findRoleByNodeId" resultType="org.jeecg.modules.activiti.entity.Role">
        select * from sys_role
        where role_code in (select relate_id from act_z_node where node_id = #{nodeId} and proc_def_id = #{procDefId} and type = 0)
    </select>
    <select id="findDepartmentByNodeId" resultType="org.jeecg.modules.activiti.entity.Department">
        select * from sys_depart
        where id in (select relate_id from act_z_node where node_id = #{nodeId} and proc_def_id = #{procDefId} and type = 2)
            and del_flag = 0
    </select>
    <select id="findDepartmentManageByNodeId" resultType="org.jeecg.modules.activiti.entity.Department">
        select * from sys_depart
        where id in (select relate_id from act_z_node where node_id = #{nodeId} and proc_def_id = #{procDefId} and type = 5)
            and del_flag = 0
    </select>
    <select id="findFormVariableByNodeId" resultType="java.lang.String">
        select relate_id from act_z_node where node_id = #{nodeId} and proc_def_id = #{procDefId} and type = 6
    </select>

    <!-- 通过多个部门IDS，查询部门下的用户信息 -->
    <select id="findUserByDepIds" resultType="org.jeecg.common.system.vo.LoginUser">
        select * from sys_user where del_flag = 0
        <if test="departIds!=null  and departIds.size()>0">
            and id in (select user_id from sys_user_depart where dep_id in
            <foreach collection="departIds" index="index" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            )
        </if>
        <if test="username!=null and username!=''">
            and username = #{username}
        </if>
    </select>

    <select id="findUserByRoleId" resultType="org.jeecg.common.system.vo.LoginUser">
        select a.*
        from sys_user a
        left join sys_user_role b on b.user_id = a.id
        where b.role_id = #{id}
    </select>

    <select id="findUserByRoleIds" resultType="org.jeecg.common.system.vo.LoginUser">
        select a.*
        from sys_user a
        left join sys_user_role b on b.user_id = a.id
        where b.role_id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
